hr{
    margin: 100px auto;
    width: 50%;
    height: 2px;
    background-color: #b9387d;
    border: none; /*on supprime le style par défaut*/
  }

  hr.hr-black {
    margin: 100px auto;
    width: 20%;
    height: 2px;
    background-color: #303030;
    border: none; /*on supprime le style par défaut*/
  }

  hr.hr-pink {
    margin: 100px auto;
    width: 20%;
    height: 2px;
    background-color: #b9387d;
    border: none; /*on supprime le style par défaut*/
  }
  
  .img-about {
    background:url(../img/background/background-vinyl.jpg) no-repeat;
    width:100%;
    height:14vh;
    margin: 0 auto;
  }

  .presentation {
    display:flex;
    justify-content:center;
    flex-direction:row;
    margin: 3% auto;
    width: 50%;
  }
  .about {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    flex-wrap:wrap;
    width: 70%;
    height: inherit;
    background-color: #b9387d;
    margin: 0 auto;
  }

  .img-moi {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width: 30%;
    height: inherit;
    margin: 0 auto;
    background:url(../img/img-cv/photo-patricia-cv.png)no-repeat;
  }
