
/****** cross to closed ******/

.outer-cross {
    position: fixed;
    top: 15%;
    right:1%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1em;
}
.inner-back {
    width: inherit;
    text-align: center;
}
  
label { 
    font-size: .8em; 
    line-height: 4em;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer;
}
  
.inner-back:before, .inner-back:after {
    position: absolute;
    content: '';
    height: 3px;
    width: inherit;
    background: #c89db4;
    left: 0;
    transition: all .3s ease-in;
}
  
.inner-back:before {
    top: 47%; 
    transform: rotate(45deg);  
}
  
.inner-back:after {  
    bottom: 47%;
    transform: rotate(-45deg);  
}
  
.outer-cross:hover label {
    opacity: 1;
}
  
.outer-cross:hover .inner-back:before,
.outer-cross:hover .inner-back:after {
    transform: rotate(0);
}
  
.outer-cross:hover .inner-back:before {
    top: 0;
}
  
.outer-cross:hover .inner-back:after {
    bottom: 0;
}


/****** Articles work part 1 ******/
#articles-show {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3em;
    margin-bottom: 5%;

}
.article-header {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    margin-top: 15%;
    color: #dededd;   
}
.article-header p {
    text-align: justify; 
    width: 40%;
    margin-top: 2%;
}
 
.article-header h1{
    text-transform: none;
}
#masthead {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 3em;
}
.pics-article-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
}
.bg-color-masthead {
    width: 100%;
    height: 500px;
    margin-top:10%;
    
}

/****** Articles work part 2 ******/

.container-article, .container-article2 {
    
    display:flex;
    flex-direction: row;
    width: 63%;
    align-items: center;
    margin: 0% auto;
}

.text-article, .text-article2 {
   color: #dededd;
   text-align: left;
   width: 40%; 
   padding: 5%;

}
.img-fluid {
max-width: 100%;
height: auto;
}

.img-article {
    display:flex;
    flex-direction: column;
    width: 60%;
    margin: 1% auto;
}

.video-espacece {
    width: 60%;
    margin: 1% auto;
}

/****** Fleche Back to Top ******/

#scroll_to_top { 
    position: static; 
    bottom: 20%; 
    right: 50%; 
} 
#scroll_to_top img { 
    width: 25px; 
}


/*******  Media queries  *********/

  /* ----- 400px --------*/
@media screen and (max-width: 25em) {
    #articles-show {
        margin-bottom: 30%;
    }
    .article-header {
        margin-top: 5%;
    }
    .outer-cross {
        top:10%;
        right: 46%;
        width: 40px;
        position: absolute;
        
    }
    .article-header h1 {
        padding-top: 1em;
    }
    .article-header p {
        width: 90%;
        text-align: justify;
    }
    .pics-article-presentation {
        width:80%;
    }
    .bg-color-masthead {
        height: 250px;
        margin-top: 11%;
    }
    .container-article {
        flex-direction: column;
        width:100%;
    }
    .container-article2 {
        flex-direction: column-reverse;
        width:100%;
    }
    .text-article, .text-article2 {
        width: 90%;
     }
     
    .text-article2 p:last-child {
        padding-bottom: 2em;
    }
    .text-article h2, .text-article2 h2{
        font-size: 1em;
        text-align: center;
        font-weight: bolder;
        padding:2em;
    }
    .img-article:not(.video-espacece) {
        width: 100%;
        padding: 1em;
        margin: 0;
    }
    
    .video-espacece {
        width: 100%;
        padding:2em;
    }
    .img-article img:last-child {
        padding-bottom:2em;
    }
    
}

  /* ------- de 400px à 512px--------*/
@media screen and (min-width: 25em) and (max-width: 32em) {
    #articles-show {
        margin-bottom: 30%;
    }
    .article-header {
        margin-top: 8%;
    }
    .outer-cross {
        top:10%;
        right: 46%;
        width: 40px;
        position: absolute;
        
    }
    .article-header h1 {
        padding-top: 1em;
        font-size: 2em;
    }
    .article-header p {
        width: 95%;
        padding: 1em;
        text-align: justify;
    }
    .pics-article-presentation {
        width:80%;
    }
    
    .bg-color-masthead {
        height: 300px;
        margin-top:11%;
    }
    .container-article {
        flex-direction: column;
        width:100%;
    }
    .container-article2 {
        flex-direction: column-reverse;
        width: 100%
    }
    .text-article , .text-article2 {
        width: 95%;
    }
     .text-article2 p:last-child {
        padding-bottom: 1em;
    }
    .text-article h2, .text-article2 h2{
        font-size: 1em;
        text-align: center;
        padding: 1em;
    }
    .img-article:not(.video-espacece) {
        width: 100%;
        padding: 1em;
        margin: 0;
    }
    
    .video-espacece {
        width: 100%;
        padding:1em;
    }
    .img-article img:last-child {
        padding-bottom:4em;
    }
}

  /* ------- de 512px à 656px --------*/
@media screen and (min-width: 32em) and (max-width: 41em) {
    #articles-show {
        margin-bottom: 20%;
    }
    .article-header {
        margin-top: 4%;
    }
    .outer-cross {
        top:10%;
        right: 46%;
        width: 40px;
        position: absolute;
       
    }
    .article-header h1 {
        padding-top: 1.5em;
    }
    .article-header p {
        width: 95%;
        padding: 1em;
        text-align: justify;
    }
    .pics-article-presentation {
        width:80%;
    }
    
    .bg-color-masthead {
        width: 100%;
        height: 395px;
        margin-top: 9%;
    }
    .container-article {
        flex-direction: column;
        width: 100%;
    }
    .container-article2 {
        flex-direction: column-reverse;
        width: 100%;
    }
    .text-article , .text-article2 {
        width: 95%;
    }
     .text-article2 p:last-child {
        padding-bottom: 3em;
    }
    .text-article h2, .text-article2 h2{
        font-size: 1.1em;
        text-align: center;
        padding: 2em;
    }
    .img-article:not(.video-espacece) {
        width: 100%;
        padding: 1em;
        margin: 0;
    }
    
    .video-espacece {
        width: 100%;
        padding: 1em;
    }
    .img-article img:last-child {
        padding-bottom:4em;
    }
}

  /* ----- de 656px à 816px --------*/
@media screen and (min-width: 41em) and (max-width: 51em) { 
    #articles-show {
        margin-bottom: 20%;
    }
    .article-header {
        margin-top: 4%;
    }
    .outer-cross {
        top:12%;
        right: 47.5%;
        width: 40px;
        position: absolute;
        
    }
    .article-header h1 {
        padding-top: 2em;
    }
    .article-header p {
        width: 95%;
    }
    .pics-article-presentation {
        width: 75%;
    }
        
    .bg-color-masthead {
        height: 440px;
        margin-top: 12%;
    }
    .container-article {
        flex-direction: column;
        width:90%;
    }
    .container-article2 {
        flex-direction: column-reverse;
        width: 90%;
    }
    .text-article , .text-article2 {
        width: 100%;
    }
     .text-article2 p:last-child {
        padding-bottom: 3em;
    }
    .text-article h2, .text-article2 h2{
        font-size: 1.3em;
        text-align: center;
        padding:2em;
    }
     
    .img-article:not(.video-espacece) {
        width: 100%;
        margin: 0;
    }
    
    .video-espacece {
        width: 100%;
        padding:1em;
    }
    .img-article img:last-child {
        padding-bottom:4em;
    }
}

  /* ----- de 816px à 992px --------*/
@media screen and (min-width: 51em) and (max-width: 62em) {
    #articles-show {
        margin-bottom: 14%;
    }
    
    
    .article-header {
        margin-top: 28%;
    }

    .article-header p {
        width: 91%;
    }
        
    .bg-color-masthead {
        height: 510px;
        margin-top: 15%;
    }
    .container-article {
        flex-direction: column;
        width:85%;
    }
    .container-article2 {
        flex-direction: column-reverse;
        width:85%;
    }
    .text-article , .text-article2 {
        width: 100%;
    }
    .text-article2 p:last-child {
        padding-bottom: 3em;
    }
    .text-article h2, .text-article2 h2{
        font-size: 1.3em;
        text-align: center;
        padding:2em;
    }
    .img-article:not(.video-espacece) {
        width: 100%;
        padding: 1em;
        margin: 0;
    }
    
    .video-espacece {
        width: 100%;
        padding:1em;
    }
    .img-article img:last-child {
        padding-bottom:4em;
    }
    #scroll_to_top { 
        display: none; 
    } 
    #scroll_to_top img { 
        display: none; 
    }
}

  /* ----- de 992px à 1200px --------*/
@media screen and (min-width: 62em) and (max-width: 75em) {
    #articles-show {
        margin-bottom: 10%;
    }
    .article-header {
        margin-top: 23%;
    }
    .article-header p {
        width: 65%;
    }
    .container-article, .container-article2 {
        width: 85%;
    }
    .text-article h2 {
        font-size: 1.8rem;
    }
    .img-article img:last-child {
        padding-bottom:4em;
    }
    #scroll_to_top { 
        display: none; 
    } 
    #scroll_to_top img { 
        display: none; 
    }
    #scroll_to_top { 
        display: none; 
    } 
    #scroll_to_top img { 
        display: none; 
    }
}

  /* ----- de 1200px à 1500px -----*/ 
@media screen and (min-width: 75em) and (max-width: 93.750em) {
      
    .article-header {
        margin-top: 18%;
    }
    .article-header p {
        width: 65%;
    }
    .container-article, .container-article2 {
        width: 80%;
    }
    .text-article h2 {
        font-size: 1.8rem;
    }
    .img-article img:last-child {
        padding-bottom:4em;
    }
    #scroll_to_top { 
        display: none; 
      } 
    #scroll_to_top img { 
        display: none; 
    }
}

/* ----- a partir de 1500px -----*/ 
@media screen and (min-width: 93.750em) {
    #scroll_to_top { 
        display: none; 
      } 
    #scroll_to_top img { 
        display: none; 
    }
}