#articles-show {
    position:relative;
    width:90%;
    margin: -90% auto 0 auto;
    height:0vh;
    background: rgba(248,235,218);
    color: #5c554c;
    z-index: 1;
    transition: height 0.8s ease-in-out;
}

#cross {
    position:absolute;
    top:0.5rem;
    right:0.5rem;
    width:100%;
    text-align: right;
    cursor: pointer;
    display:none;
}

.cross.showCross {
    display: block;
}

#articles-show.showArticle {
    height:63vh;
}