/* background footer */
#section-footer {
    background: url('../img/background/gray-texture.png') repeat;
    width:100%;
    height:14%;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color:#808080;
    opacity:0;
    transition: opacity 0.7s ease-in-out;
    
}

#section-footer:hover {
    opacity:1;
}


/* lien de mon footer */
#section-footer a {
    text-decoration: none;
    color:#808080;
    display:block;
}


/* liste social icones */
ul#social-icons {
    width:100%;
    
}

li.social-icons {
    margin-right: 22px;
   
}

/* animation rond autour icones */
a.round-animate {
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 50%;
    transition: border .3s ease ;
    padding: 0.6em 0 0 0;
    width: 3em;
    height:3em; 
    
}
a.round-animate:hover {
    border: 2px solid rgba(128,128,128,1);
}

/* taille icones */

.icon-size {
    font-size: 1.5em;
    
}

/* copyright et credits et popup */
.foot-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: right;
    width:100%;
    /* font-size:0.75em; */
}
.foot-footer p, a.popup {
    font-size: 0.75em;
}

.modal {
    top: 250px;
}






/******  Media queries  ********/

  /* ----- 400px --------*/
  @media screen and (max-width: 25em) {
    #section-footer {
        opacity:1;
        height: 20%;
       
    }
       
  }

  /* ----- 400px à 512px--------*/
  @media screen and (min-width: 25em) and ( max-width: 32em ) {
    #section-footer {
        opacity:1;
        height: 16%;
        
    }
    
  }

  /* ----- de 512px à à 1200px --------*/
  @media screen and (min-width: 32em) and (max-width: 75em) {
    #section-footer {
        opacity:1;
    }
    
  }

   