@import "./home.css";
@import "./menu.css";
@import "./brandon-grotesque.css";
@import "./pages.css";
@import "./footer.css";
@import "./contact.css";
@import "./articles.css";
@import "./menu-work.css";
@import "./about-me.css";


/* global style */

body {
    font-size: 16px;
    box-sizing: border-box;
    background: url('../img/background/background-vinyl.jpg') no-repeat;
    background-size: cover;
}
