@import "./home.css";
@import "./menu.css";
@import "./footer.css";
@import "./contact.css";
@import "./articles.css";
@import "./menu-work.css";
@import "./about-me.css";
@import "./font-css/lato.css";
@import "./font-css/raleway.css";
@import "./menu-burger.css";



/* global style */

body {
    font-size: 16px;
    box-sizing: border-box;
    

}

#section-home {
  width:100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'ralewayregular', sans-serif;
    padding-bottom: 1em;
}

h2 {
    font-size:1.75em ;
}

p {
    font-family: 'latoregular', sans-serif;
}

label {
    margin: 0!important;
}

