
/* Second Navigation -menu-work 2- */

.defilement-work {
  z-index:-5;
}

#nav2 {
    
        padding: 6% 2%;
        margin: 13% auto;
        color: #5D5A58;
        max-width: 1200px;
        text-align: center;
        background:url(../img/background/gray-texture.png) repeat;
        box-shadow: 0 2px 4px rgba(0,0,0,.2);
        
              
}

li.bloc {
    width: 32%;
    margin: 10px 6px;
    background: #eceff1;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0, .2);
  }
  li.bloc:hover{box-shadow:0 5px 10px rgba(0,0,0,.15);}

  .img-work {max-width: 100%; height: auto; }
  .img-work:hover{cursor: pointer;}

  #nav2 .navigation-container .bloc {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

#nav2 .navigation-container .bloc:hover {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

 /********  Media queries  *********/


/* ----- 400px --------*/
@media screen and ( max-width: 25em ) {
  #nav2 {
    margin: 4% auto;
  }
  li.bloc {
    width: 100%;
  }
  ul.navigation-container {
    margin-bottom: 35%;
  }
}
/* ----- 400px à 512px --------*/
@media screen and ( min-width: 25em ) and ( max-width: 32em ) {
  #nav2 {
    margin: 4% auto;
  }
  li.bloc {
    width: 70%;
  }
  ul.navigation-container {
    margin-bottom: 30%;
  }
}

/* ----- 512px à 656px --------*/
@media screen and ( min-width: 32em ) and ( max-width: 41em ){
  #nav2 {
    margin: 4% auto;
}
  li.bloc {
    width: 60%;
  }
  ul.navigation-container {
    margin-bottom: 17%;
  }
}

/* ----- 656px à 816px --------*/
@media screen and (min-width: 41em) and ( max-width: 51em ) {
  #nav2 {
    margin: 20% auto;
  }
  li.bloc{
    width: 47%;
  }
  h5.title {
    font-family: 'ralewaybold', sans-serif;
    font-size: 1em;
  }
  

}

/* ----- 816px à 992px --------*/
@media screen and (min-width: 51em) and ( max-width: 62em ) {
  #nav2 {
    margin: 23% auto;
    
  }
  li.bloc{
    width: 38%;
  }
  h5.title {
    font-size: 1em;
    font-family: 'ralewaybold', sans-serif;
  }
}

/* ----- 992px à 1200px --------*/
@media screen and (min-width: 62em) and (max-width: 75em) {
  #nav2 {
    margin: 20% auto;
    width:90%;
    padding-right: 1%;
    padding-left: 1%;
  }
  li.bloc{
    width: 35%;
  }
  h5.title {
    font-size: 1em;
    font-family: 'ralewaybold', sans-serif;
  }
}

/* ----- à partir de 1200px --------*/
@media screen and (min-width: 75em) and (max-width:93.75em) {
  #nav2 {
    margin: 17% auto;
  }
  
}

