
/* Second Navigation -menu-work 2- */

.defilement-work {
  z-index:-5;
}

#nav2 {
    
        padding: 6% 2%;
        margin: 7% auto;
        color: #5D5A58;
        max-width: 1200px;
        text-align: center;
        background:url(../img/background/gray-texture.png) repeat;
        box-shadow: 0 2px 4px rgba(0,0,0,.2);
        
              
}

li.bloc {
    width: 32%;
    margin: 10px 6px;
    background: #eceff1;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0, .2);
  }
  li.bloc:hover{box-shadow:0 5px 10px rgba(0,0,0,.15);}

  .img-work {width: 100%; height: 450px; }
  .img-work:hover{cursor: pointer;}

  #nav2 .navigation-container .bloc {
    filter: hue-rotate(181deg);
    -webkit-filter: hue-rotate(181deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#nav2 .navigation-container .bloc:hover {
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
}

  /*Responsive*/
  @media (max-width: 1148px){
    li.bloc{width: 30%;}
  }
  @media (max-width: 768px){
    li.bloc{display: inline-block; width: auto;}
    li.bloc .img-work{box-shadow: 0 2px 4px rgba(0,0,0, .4);}
    figure{float: left; width: 70%;}
    .title{
      float: right; 
      width: 30%;
      height: 144px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


