
/* Global style */



/****** Primary Navigation - menu ******/

#nav {
    position: fixed;
    top:0;
    height: auto;
    padding: 2rem;
    width:100%;
       
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
}

.nav-container .test {
    padding-top: 1em;
    margin-right: 2rem ;
}

.menu:not(.logo){
    padding-bottom: 1rem;
    font-family: 'ralewaybold', sans-serif;
    font-size: 75%;
    letter-spacing: .480rem;
    text-decoration: none;
    color: #fff ;
    text-transform: uppercase;
}


.soulignement {
    width: 0;
    height: 2px;
    background-color:#fff;
    transition: all 1s;
    margin-left: auto;
    margin-right: auto;
    margin-top:0.2rem;
}
a.logo{
    margin-right: 2rem;
    padding-top:0!important;
}

/****** Primary Navigation - menu-scroll qui apparait au scroll ******/

#nav-scroll {
    position: fixed;
    top:0;
    width: 100%;
    height: auto;
    padding: 2rem 2rem 0rem 2rem ;
    background:url('../img/background/gray-texture.png') repeat;
    border-bottom: 1px solid #5D5A58;
    z-index:100;
}
.menu-scroll:not(.logo){
    padding-bottom: 1rem;
    font-family: 'ralewaybold', sans-serif;
    font-size: 75%;
    letter-spacing: .480rem;
    text-decoration: none;
    color: #5D5A58 ;
    text-transform: uppercase;
}
.soulignement-scroll {
    width: 0;
    height: 2px;
    background-color:#5D5A58;
    transition: all 1s;
    margin-left: auto;
    margin-right: auto;
    margin-top:0.2rem;
}

